* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.login-form {
  margin: 30px;
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 20px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.switch-button {
  float: left;
  width: 50%;
  padding: 0 50px;
  
  margin-bottom: 60px;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 50px 0;
}

.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.logbtn {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #3b5999;
  color: white;
}
.regbtn {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

#coach-container {
  display: none;
}
#switchToStu {
  background-color: #adadad;
}

.abcRioButton.abcRioButtonLightBlue { margin: 0 auto;}