* {box-sizing: border-box}
#profile_modify, #fitbit_data{
    display: none;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
.page {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.page:hover {
    background-color: #777;
}
.tabcontent {
    color: black;
    display: none;
    height: 100%;
}
.information img {
    max-width: 225px;
    max-height: 225px;
}
.information .text{
    display: inline;
}
.information {
    display: flex;
}
.tabcontent img{
    max-width: 100px;
    max-height: 100px;
}
.profile_container{
    width: 50%;
    font-size: 30px;
    position: absolute;
    top: 353px;
    left: 40%;
}
.container{
    width: 50%;
    font-size: 30px;
    position: absolute;
    top: 353px;
    left: 40%;
}
.endl h2{
    display: inline;
}
.endl p{
    display: inline;
}
.endl{
    line-height: 80px;
}
.bendl button{
    position: absolute;
    left: 100px;
}